.pageLayout {
  margin: 0 auto;
  display: grid;

  gridtemplatecolumns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "siteLogo siteBanner"
    "siteNavigation siteNavigation "
    "pageContent pageContent";
}
.siteNavigation {
  grid-area: siteNavigation;
}
.siteLogo {
  margin-right: 0;
  margin-left: auto;
  grid-area: siteLogo;
}
.siteBanner {
  grid-area: siteBanner;
}
.pageContent {
  grid-area: pageContent;
}
