.gameContainer {
  /* display: flex;
	flex-direction: row; */
  display: grid;
  gridtemplatecolumns: 1fr auto auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". gameStatus . ."
    ". gameBoard gameControls .";
}

.gameStatus {
  font-family: "DancingScript";
  grid-area: gameStatus;
  fontsize: xx-large;
  color: var(--Secondary-9);
}
.gameBoard {
  grid-area: gameBoard;
}
.gameControls {
  grid-area: gameControls;

  // fontSize: xx-large;
  color: var(--Secondary-9);
}
