@import "../../../styles/global.scss";
.Tile {
  background: var(--Secondary-9);
  border: 1px solid var(--Secondary-0);
  margin: 1px;
  float: left;
  fontsize: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  textalign: center;
  width: 120px;
}

.Tile-current {
  @extend .Tile;
  background: var(--Accent-5);
}

.Tile-winner {
  @extend .Tile;
  background: var(--Secondary-3);
}
