.game {
	/* display: flex;
	flex-direction: row; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"status ."
	"game-board game-info";
}

.game-info {
	grid-area: game-info ;
	justify-self: start;
}
.status {
	font-family: "DancingScript";
	font-size: xx-large;
	grid-area: status ;
	margin-bottom: 10px;
	justify-self:center;
}
.game-board{
	grid-area: game-board ;
	justify-self:center;
}