@import "../styles/global.scss";
.square {
	background: $bg-colour;
	border: 1px solid $border-colour;
	float: left;
	font-size: 60px;
	font-weight: bold;
	line-height: 34px;
	height: 120px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 120px;
}

.square-current  {
	@extend .square;
	background: $current-player-colour;
}

.square:focus {
	outline: none;
}


.square-winner {
	@extend .square;
	background: $win-colour;
    border-radius:100%;
}
