@import "../styles/global.scss";
.Tile {
	background: $bg-colour;
	border: 1px solid $border-colour;
	float: left;
	font-size: 60px;
	font-weight: bold;
	line-height: 34px;
	height: 120px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 120px;
}

.Tile-current  {
	@extend .Tile;
	background: $current-player-colour;
}

.Tile:focus {
	outline: none;
}


.Tile-winner {
	@extend .Tile;
	background: $win-colour;
    border-radius:100%;
}
